.button{
	background-color:#0af;
	color:#fff;
	cursor:default;
	float:right;
	font-size:15px;
	font-weight:bold;
	height:32px;
	line-height:32px;
	margin:0px 4px;
	padding:0px 20px;
	text-align:center;
}

.button:hover{
	background-color:rgba(0,160,255,0.6);
}

.button:active{
	background-color:#000;
}

.button.disabled{
	background-color:#aaa;
}

.button.disabled:hover{
	background-color:#aaa;
}

.button.disabled:active{
	background-color:#aaa;
}
