#import-dialog{
	height: 360px;
	width: 480px;
}

#import-dialog .text{
	border: 1px solid rgb(186, 186, 186);
	color: rgb(33, 33, 33);
	font-size: 14px;
	height: 22px;
	left: 20px;
	line-height: 22px;
	margin : 0px;
	position: absolute;
	text-indent: 8px;
	top: 20px;
	width: 320px;
	word-spacing: 0px;
}

#import-dialog .button.select{ 
	cursor: default;  
	height: 22px;
	margin: 0px;
	padding: 0px;
	position: absolute; 
	right: 20px;
	top: 20px;
	width: 88px;
	z-index:100;
} 

#import-dialog .button.select .label{
	height: 100%;
	left: 0px;
	line-height: 22px;
	position: absolute;
	text-align: center;
	top: 0px;
	width: 100%;
	z-index: 102;
}

#import-dialog .button.select .file{
	height: 100%;
	opacity: 0; 
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 103;
}

#import-dialog .operation{
	height: 30px;
	left: 20px;
	margin: 0px;
	position: absolute;
	right: 20px;
	top: 48px;
}

#import-dialog .operation .label{
	font-size: 13px;
	float: left;
	line-height: 30px;
}

#import-dialog .operation .label span{
	color: #FF0000;
}

#import-dialog .operation .button{
	float: left;
	margin: 4px 20px 4px 0px;
}

#import-dialog .content{
	border: 1px solid #AAAAAA;
	bottom: 12px;
	left: 20px;
	margin: 0px;
	overflow-y: hidden;
	overflow-y: auto;
	padding: 0px;
	position: absolute;
	right: 20px;
	top: 56px;
}

#import-dialog .content .item{
	cursor: default;
	font-size: 13px;
	font-family: Consolas;
	height: 15px;
	line-height: 15px;
	margin: 2px 12px;
	padding:5px 0px;
	text-indent: 16px;
}

#import-dialog .content .item:hover {
	background-color: RGB(183, 231, 251);
}

#import-dialog .content .item.selected {
	background-color: RGB(123, 221, 241);
}

#import-dialog .content .item .id{
	color:#aaa;
	float:left;
	text-align:right;
	width:40px;
}
#import-dialog .content .item .id:after{
	content:".";
}
#import-dialog .content .item .name{
	color:#000;
	float:left;
	text-align:left;
}

#import-dialog .content .item.checked{
	background-image: url("../img/checkbox-checked.png");
}