#select-process-dialog {
	display: none;
	font-size: 13px;
}

#select-process-dialog * {
	border-radius:2px;
	color: #000000;
	cursor: default;
	font-size: 14px;
	line-height: 24px;
	margin: 4px 2px;
	padding: 0px 18px;
}

#select-process-dialog *:hover {
	background-color: RGB(123,221,241);
	color: #FFFFF;
	cursor: default;
	font-size: 14px;
	line-height: 24px;
	margin: 4px 2px;
	padding: 0px 18px;
}