* {
	margin:0;
	padding:0;
}
body {
	width:900px;
	margin:0 auto;
	font-size:12px;
	background:white;
	position:relative;
}
ul {
	list-style-type:none;
}
#header {
	width:900px;
	height:79px;
	background:url(../images/logo.gif) no-repeat;
	display:block;
}
#top{
	width:897px;
	height:51px;
	border:2px solid blue;
	border-radius:5px;
}
#top ul {
	height:51px;
	line-height:51px;
	margin-left:auto;
	position:relative;
	z-index:100;
}
#top ul li.noneline{
	font-size:16px;
	text-align:center;
	height:51px;
	width:125px;
	background:url(../images/linkr.gif) no-repeat right center;
	float:left;
	text-decoration:none;
}
#top ul li.noneline:hover{
	font-size:18px;
	text-decoration:none;
}
#top ul li.end {
	width:125px;
	background:none;
	text-align:center;
	height:51px;
	float:left;
}
#top ul li a {
	font-size:16px;
	display:block;
	width:125px;
	height:51px;
	text-decoration:none;
}
#top ul li a:hover {
	font-size:18px;
	text-decoration:none;
}
#top ul li.end a {
	width:125px;
}
#top ul li ul.login{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul.user{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul.tools{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul li{
	float:none;
	background-color:#FFFFFF;
	border:0px 1px;
}
#top ul li ul li a{     
	margin: 0;    
	border:1px solid blue;  
	cursor:pointer;
	border-bottom: 1px solid blue;
}
#top ul li:hover ul, #nav li.over ul{
  display:block;
}
#sidebar {
	width:179px;
	height:600px;
	float:left;
	border:0px solid blue;
}
#sidebar #sidetop {
	width:179px;
	height:600px;
	border:1px solid blue;
}
#sidebar #sidetop h1 {
	height:25px;
	line-height:20px;
	text-indent:10px;
	font-family:Tahoma;
	font-size:15px;
	background:#FFFFF0;
	border:1px solid blue;
}
#sidebar #sidetop ul#conus {
	line-height:150%;
	text-indent:20px;
	margin-top:15px;
	margin-bottom:15px;
}
#sidebar #sidetop ul#conus>li:hover{
	background:#CAFF70;
}
#sidebar #sidetop ul#conus>li#conus1{
	border:1px solid #FFFFF0;
	background:#CAFF70;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#conus2{
	border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#conus3{
	border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#conus4{
	border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#conus5{
	border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#conus6{
	border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#conus>li#userlogout{
    border:1px solid #FFFFF0;
	border-radius:0px 10px 10px 0px;
	cursor:pointer;
	margin:8px;
	padding:5px 30px;
}
#sidebar #sidetop ul#links {
	line-height:180%;
	margin-top:15px;
	margin-bottom:20px;
	margin-left:15px;
	width:150px;
}
#sidebar #sidetop ul#links li {
	background:url(../images/side.gif) no-repeat left center;
	padding-left:10px;
	border-bottom:1px dotted blue;
}
#sidebar #sidetop ul#links li a {
	text-decoration:none;
}
#sidebar #sidetop ul#links li a:hover {
	color:#EE00EE;
	text-decoration:underline;
	padding-left:1px;
}

#content {
	width:719px;
	height:600px;
	border:1px solid blue;
	float:right;
}
.content{
	display:none;
}
#content1{
	padding:20px;
	display:block;
	background:url(../images/top1.gif) no-repeat left top;
}
#content1 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#content1 table{
	border:solid 3px #CCFF99;
	margin-left:auto; 
	margin-right:auto;
}
#content2{
	padding:20px;
	background:url(../images/top2.gif) no-repeat left top;
}
#content2 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#content2 table{
	border:solid 2px #CCFF99;
	margin-left:auto; 
	margin-right:auto;
}
#content2 table.pageShow{
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
}
#content3{
	padding:20px;
	background:url(../images/top003.gif) no-repeat left top;
}
#content3 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#content3 table.processbrowsers{
	border:solid 2px #CCFF99;
	margin-left:auto;
	margin-right:auto;
}
#content3 table.templatebrowsers{
	border:solid 2px #CCFF99;
	margin-left:auto;
	margin-right:auto;
}
#content3 table.extensionbrowsers{
	border:solid 2px #CCFF99;
	margin-left:auto;
	margin-right:auto;
}
#content3  table.processsimilarity{
	border:solid 2px #CCFF99;
	margin-left:auto; 
	margin-right:auto;
}
#content4{
	padding:20px;
	background:url(../images/top4.gif) no-repeat left top;
}
#content4 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#accordion{
	text-align:left;
}
#accordion2{
	text-align:left;
}
#accordion3{
	text-align:left;
}
#accordion4{
	text-align:left;
}
#accordion5{
	text-align:left;
}
#showdetails1{
	height:280px;
}
#showdetails2{
	height:280px;
}
#showdetails3{
	height:280px;
}
#showdetails4{
	height:280px;
}
#showdetails5{
	height:280px;
}
#showdetails6{
	height:270px;
}
#showdetails7{
	height:280px;
}
#showdetails8{
	height:280px;
}
#showdetails9{
	height:280px;
}
#showdetails10{
	height:280px;
}
#showdetails11{
	height:280px;
}
#showdetails12{
	height:280px;
}
#showdetails13{
	height:280px;
}
#showdetails14{
	height:280px;
}
#content4  form  {
	margin:8px 0;
}
#content4 table.ontologysearch{
	text-align:center; 
	margin-left:90px; 
	margin-right:auto;
}
#content4 table.ontologymanage{
	text-align:center; 
	margin-left:90px; 
	margin-right:auto;
}
#content4 table.ontologybrowsers{
    border:solid 2px #CCFF99;
    margin-left:auto; 
	margin-right:auto;
}
#content4  form table.ontologysearch tr td{
	line-height:200%;
	width:180px;
	height:50px;
	text-align:right;
}
#content4  form table.ontologymanage tr td{
	line-height:200%;
	width:180px;
	height:38px;
	text-align:right;
}
#showdetails1 form table tr td input.ontologyname {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails1 form table tr td input.ontologyinputinfo {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails1 form table tr td input.ontologyoutputinfo {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails1 form table tr td select.ontologyselect{
	padding:0 0 0 0px;
	height:23px;
	width:183px;
}
#showdetails1 form table tr td input.ontologyfunctioninfo{
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails3 form table tr td{
	width:220px;
}
#showdetails3 form table tr td input.ontologyfilename {
	padding:0 0 0 0px;
	height:20px;
	width:220px;
}
#showdetails3 form table tr td input.selectfile {
	padding:0 0 0 0px;
	height:23px;
	width:223px;
}
#showdetails3 form table tr td textarea{
	padding:0 0 0 0px;
	width:223px;
}
#showdetails3 form table tr td select.ontologyselect{
	padding:0 0 0 0px;
	height:23px;
	width:223px;
}
#content4 form table tr td input.submit {
	height:27px;
	width:65px;
}
#content4  form table tr td input.reset {
	height:27px;
	margin:0px 60px;
	width:65px;
}
#content5{
	padding:20px;
	background:url(../images/top5.gif) no-repeat left top;
}
#content5 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#content5  form{
	margin:8px 0;
}
#content5 table.wsmanage{
	text-align:center; 
	margin-left:auto; 
	margin-right:auto;
}
#content5 table.wsbrowsers{
    border:solid 2px #CCFF99;
    margin-left:auto; 
	margin-right:auto;
}
#showdetails4  form table tr td{
	line-height:200%;
	height:38px;
	text-align:right;
}
#showdetails4 form table tr td input.wsname {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails4 form table tr td input.wsinputinfo {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails4 form table tr td input.wsoutputinfo {
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails4 form table tr td input.wsfunctioninfo{
	padding:0 0 0 0px;
	height:20px;
	width:180px;
}
#showdetails4 form table tr td select.wsselect{
	padding:0 0 0 0px;
	height:25px;
	width:183px;
}
#showdetails6  form table tr td{
	line-height:200%;
	height:30px;
	text-align:right;
}
#showdetails6 form table tr td input.wsfileurl {
	padding:0 0 0 0px;
	height:23px;
	width:262px;
}
#showdetails6 form table tr td select{
	padding:0 0 0 0px;
	height:30px;
	width:266px;
}
#content5 form table tr td input.submit {
	height:27px;
	width:65px;
}
#content5  form table tr td input.reset {
	height:27px;
	margin:0px 50px;
	width:65px;
}
#content6{
	padding:20px;
	background:url(../images/top6.gif) no-repeat left top;
}
#content6 input.inputbutton{
	float:right;
	height:30px;
	width:50px;
}
#footer {
	width:898px;
	height:40px;
	border:1px solid blue;
	clear:both;
}
#footer ul {
	height:40px;
	line-height:40px;
	float:right;
	padding-right:20px;
}
#footer ul li {
	display:inline;
}
#footer strong {
	font-weight:normal;
	height:40px;
	line-height:40px;
	float:left;
	display:block;
	padding-left:20px;
}