* {
	margin:0;
	padding:0;
}
body {
	width:900px;
	margin:0 auto;
	font-size:12px;
	background:white;
	position:relative;
}
ul {
	list-style-type:none;
}
img {
	border:none;
}
#header {
	width:900px;
	height:79px;
	background:url(../images/logo.gif) no-repeat;
	display:block;
}
#top{
	width:897px;
	height:51px;
	border:2px solid blue;
	border-radius:5px;
}
#top ul {
	height:51px;
	line-height:51px;
	margin-left:auto;
	position:relative;
	z-index:100;
}
#top ul li.noneline{
	font-size:16px;
	text-align:center;
	height:51px;
	width:125px;
	background:url(../images/linkr.gif) no-repeat right center;
	float:left;
	text-decoration:none;
}
#top ul li.noneline:hover{
	font-size:18px;
	text-decoration:none;
}
#top ul li.end {
	width:125px;
	background:none;
	text-align:center;
	height:51px;
	float:left;
}
#top ul li a {
	font-size:16px;
	display:block;
	width:125px;
	height:51px;
	text-decoration:none;
}
#top ul li a:hover {
	font-size:18px;
	text-decoration:none;
}
#top ul li.end a {
	width:125px;
}
#top ul li ul.login{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul.user{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul.tools{
	display:none;
	margin:0;
	padding:0;
	background-color:#FFFFFF;
	border-bottom:1px solid blue;
}
#top ul li ul li{
	float:none;
	background-color:#FFFFFF;
	border:0px 1px;
}
#top ul li ul li a{     
	margin: 0;    
	border:1px solid blue;  
	cursor:pointer;
	border-bottom: 1px solid blue;
}
#top ul li:hover ul, #nav li.over ul{
  display:block;
}

#sidebar {
	width:179px;
	height:1100px;
	float:left;
	border:0px solid blue;
}
#sidebar #sidetop {
	width:179px;
	height:1100px;
	border:1px solid blue;
}
#sidebar #sidetop h1 {
	height:25px;
	line-height:20px;
	text-indent:10px;
	font-family:Tahoma;
	font-size:15px;
	background:#FFFFF0;
	border:1px solid blue;
}
#sidebar #sidetop ul#conus {
	line-height:150%;
	text-indent:20px;
	margin-top:15px;
	margin-bottom:15px;
}
#sidebar #sidetop ul#conus>li:hover{
	background:#CAFF70;
}
#sidebar #sidetop ul#links {
	line-height:180%;
	margin-top:15px;
	margin-bottom:20px;
	margin-left:15px;
	width:150px;
}
#sidebar #sidetop ul#links li {
	background:url(../images/side.gif) no-repeat left center;
	padding-left:10px;
	border-bottom:1px dotted blue;
}
#sidebar #sidetop ul#links li a {
	text-decoration:none;
}
#sidebar #sidetop ul#links li a:hover {
	color:#EE00EE;
	text-decoration:underline;
	padding-left:1px;
}

#content {
	width:719px;
	height:1100px;
	border:1px solid blue;
	float:right;
}

#content dl#pd {
	width:610px;
	color:#999;
	margin:0 auto;
	padding-top:20px;
}
#content dl#pd dt {
	font-weight:bold;
	height:30px;
	line-height:30px;
}
#content dl#pd dt#dt1 {
	color:#20c0ff;
}
#content dl#pd dt#dt2 {
	color:lightgreen;
}
#content dl#pd dd {
	line-height:200%;
}
#content dl#pd dd span {
	color:#20c0ff;
}
#content dl#pd dd.line {
	text-indent:-9999px;
	border-bottom:1px solid #666;
	height:20px;
	margin-bottom:15px;
}

#footer {
	width:898px;
	height:40px;
	border:1px solid blue;
	clear:both;
}
#footer ul {
	height:40px;
	line-height:40px;
	float:right;
	padding-right:20px;
}
#footer ul li {
	display:inline;
}
#footer strong {
	font-weight:normal;
	height:40px;
	line-height:40px;
	float:left;
	display:block;
	padding-left:20px;
}