<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BPEP</display-name>
  <filter>
    <filter-name>I18NFilter</filter-name>
    <filter-class>com.I18n.action.I18NFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>I18NFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>

<filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>*.action</url-pattern>
</filter-mapping>
<filter-mapping>
	<filter-name>struts2</filter-name>
	<url-pattern>*.jsp</url-pattern>
</filter-mapping>
  <welcome-file-list>
    <welcome-file>/index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>6000</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>RandomCodeServlet</servlet-name>
    <servlet-class>logincheck.CheckCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createProcess</servlet-name>
    <servlet-class>process.CreateProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteProcess</servlet-name>
    <servlet-class>process.DeleteProcess</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createPlugin</servlet-name>
    <servlet-class>plugin.CreatePlugin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deletePlugin</servlet-name>
    <servlet-class>plugin.DeletePlugin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createExtension</servlet-name>
    <servlet-class>extensionp.CreateExtension</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteExtension</servlet-name>
    <servlet-class>extensionp.DeleteExtension</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regWSDL</servlet-name>
    <servlet-class>webservice.regWSDL</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>regOntology</servlet-name>
    <servlet-class>ontology.UploadOntology</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteOnto</servlet-name>
    <servlet-class>ontology.DeleteOntology</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Detail_Ontology</servlet-name>
    <servlet-class>ontology.Detail_Ontology</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteUsering</servlet-name>
    <servlet-class>users.DeleteUserCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>passUsering</servlet-name>
    <servlet-class>users.PassUserCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>sendEmailing</servlet-name>
    <servlet-class>email.MailToYou</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ontoDetails</servlet-name>
    <servlet-class>ontology.OntologyDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomCodeServlet</servlet-name>
    <url-pattern>/imgcode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createProcess</servlet-name>
    <url-pattern>/createProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteProcess</servlet-name>
    <url-pattern>/deleteProcess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createPlugin</servlet-name>
    <url-pattern>/createPlugin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deletePlugin</servlet-name>
    <url-pattern>/deletePlugin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createExtension</servlet-name>
    <url-pattern>/createExtension</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteExtension</servlet-name>
    <url-pattern>/deleteExtension</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regWSDL</servlet-name>
    <url-pattern>/regWSDL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>regOntology</servlet-name>
    <url-pattern>/regOntology</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteOnto</servlet-name>
    <url-pattern>/deleteOntologycheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Detail_Ontology</servlet-name>
    <url-pattern>/Detail_Ontology</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteUsering</servlet-name>
    <url-pattern>/deleteUseringcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>passUsering</servlet-name>
    <url-pattern>/passUseringcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>sendEmailing</servlet-name>
    <url-pattern>/sendEmailingcheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ontoDetails</servlet-name>
    <url-pattern>/showOntology</url-pattern>
  </servlet-mapping>
</web-app>