#atomic-process-detail-window{
	left:160%;

	width:20%;
}

#atomic-process-detail-window>.body>div{
	clear:both;
	overflow:auto;
	padding: 10px;
}

#atomic-process-detail-window .button{
	background-color:rgb(204,204,204);
	color:#000;
	cursor:default;
	float:left;
	font-size:15px;
	font-weight:bold;
	height:31px;
	line-height:31px;
	margin:10px 20px 10px 0px;
	min-width:62px;
	padding:0px 14px;
	text-align:center;
}

#atomic-process-detail-window .button:hover{
	background-color:rgb(216,216,216);
}

#atomic-process-detail-window .button:disable{
	background-color:rgb(234,234,234);
	color:rgb(140,140,140);
}

#atomic-process-detail-window .button:active{
	background-color:#000;
	color:#fff;
}

#atomic-process-detail-window .label{
	font-size:15px;
	line-height:25px;
}
