#editor .center {
	border-left: 4px solid RGB(56, 146, 211);
	border-right: 4px solid RGB(56, 146, 211);
	left: 279px;
	right: 279px;
}


#editor .center .head .zoom-in {
	background-image: url("../../img/zoom-in.png");
	cursor: pointer;
	float: right;
	height: 20px;
	margin: 6px 2px;
	position: relative;
	width: 20px;
}

#editor .center .head .zoom-in:hover {
	background-image: url("../../img/zoom-in-hover.png");
}

#editor .center .head .zoom-in:active {
	background-image: url("../../img/zoom-in-active.png");
}

#editor .center .head .zoom-out {
	background-image: url("../../img/zoom-out.png");
	cursor: pointer;
	float: right;
	height: 20px;
	margin: 6px 2px;
	position: relative;
	width: 20px;
}

#editor .center .head .zoom-out:hover {
	background-image: url("../../img/zoom-out-hover.png");
}

#editor .center .head .zoom-out:active {
	background-image: url("../../img/zoom-out-active.png");
}

#editor .center .head .zoom-actual {
	background-image: url("../../img/zoom-actual.png");
	cursor: pointer;
	float: right;
	height: 20px;
	margin: 6px 2px;
	position: relative;
	width: 20px;
}

#editor .center .head .zoom-actual:hover {
	background-image: url("../../img/zoom-actual-hover.png");
}

#editor .center .head .zoom-actual:active {
	background-image: url("../../img/zoom-actual-active.png");
}

