.window{
	bottom:22px;
	position:absolute;
	top:66px;
}

.window .head{
	background-color:rgb(21,127,204);
	height:32px;
	left:0px;
	position:absolute;
	right:0px;
	top:0px;
}

.window .head .title{
	color:#fff;
	font-size: 14px;
	font-weight: bold;
	float:left;
	line-height:32px;
	position:absolute;
	text-indent:24px;
}

.window .body{
	background-color:#fff;
	bottom:0px;
	left:0px;
	overflow:auto;
	position:absolute;
	right:0px;
	top:32px;
}